@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --neutral-50: 250 250 250;
    --primary-50: 111 114 185;
    --secondary: 111 114 185;
  }
}

.dark {
  --neutral-50: 38 38 38;
  --primary-50: 255 115 179;
  --secondary: 255 115 179;
}

body {
  background-color: rgb(var(--neutral-50));
}
